.body {
  /* background-image: url('../files/back3.png'); */
  background-size: 800px;
}
  
  .logomain {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 8vh;
  }
  
  .nav h1 {
    letter-spacing: 0.03em;
    margin-top: 1px;
    font-size: 5vh;
  }
  
  
  .content {
    padding: 6vh;
  }
  
  .projects {
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: repeat(2, 48.5vh);
    gap: 1.5vw;
    margin-top: 2.5vh;
    grid-auto-rows: 48.5v;
  }
  
  .item {
    background-color: #43caff9c;
    border: rgb(59, 59, 59) 1px solid;
    box-shadow: 7px 8px 0px rgba(0, 0, 0, 0.2);
  }
  
  .new-project {
    position: fixed;
    bottom: 0.3vh;
    right: 0.5vw;
  }

  .new-color {
    background-color: rgba(69, 240, 103, 0.425) !important;
  }