

.signup {
    margin-top: 1.7vh;
    height: 8vh;
    width: 25vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup input {
    height: 1.5vh;
    padding: 1vh;
    margin-right: 1vw;
}

.signup h2 {
    margin-left: 1vw;
}

.username input {
    margin-left: 3vw;
}

.signup button {
    margin-top: 1.3vh;
    width: 20vw;
    font-size: large;
}

.sign {
    margin-top: 0.2vh;
}